.left {
    position: absolute;
    width: 30%;
    height: 100%;
    background-color: whitesmoke;
}

.title {
    font-family:'Courier New', Courier, monospace;
    font-size: xx-large;
    width: 100%;
    font-weight: bolder;
}

.text {
    font-family:'Courier New', Courier, monospace;
    font-size: medium;
}

.smalltext {
    font-family:'Courier New', Courier, monospace;
}

.tinytext {
    font-family:'Courier New', Courier, monospace;
    font-size: small
}

.bigtext {
    font-family:'Courier New', Courier, monospace;
    font-weight:bold;
    font-size: large;
}

.thumbnail {
    background-color: white;
    border-color: lightgray;
    border-radius: 20px;
    width: 400px;
    height: 150px;
    display: block;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: bolder;
    padding-top: 100px;
    text-wrap: pretty;
}

.dislikebar {
    background-color: red;
    width: 200px;
    height: 4px;
}

.likebar {
    background-color: green;
    height: 100%;
    width: 200px;
    float: left;
}

.ratings {
    width: 200px;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

.stats {
    padding-top: 50px;
    padding-left: 200px;
}

.shop {
    position: absolute;
    left: 70%;
    height: 100%;
    background-color: whitesmoke;
    width: 30%;
}

.upgrade {
    width: 75%;
    height: 90px;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
    overflow: auto;
}

.upgicon {
    width: 60px;
    height: 60px;
    float: left;
}

.upgtitle {
    margin-left: 20px;
    font-weight: bold;
    font-size: medium;
}

.upgbutton {
    margin-left: 80px;
    font-weight: bold;
    font-size: x-small;
    float: left
}

.upgdesc {
    margin-left: 20px;
    font-size: small;
    float: left;
    text-align: left;
    width: 60%;
    margin-bottom: 5px;
}

.center {
    position: absolute;
    left: 35%;
    height: 100%;
    background-color: whitesmoke;
    width: 30%;
}

.centerbuttons {
    width: 100%;
    height: 80px;
    border-color: black;
    position: relative;
}

.centerbutton {
    width: 100px;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.settingsbutton {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    float: left;
}

.setting {
    font-family: 'Courier New', Courier, monospace;
    background-color: lightgray;
    border-radius: 20px;
    height: 5%;
}

footer { 
    width: 100%; 
    font-family:'Courier New', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: medium; 
    display: block; 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    background-color: lightgray; 
    text-align: left; 
    margin: auto; 
    padding: 10px; 
    font-weight: bold; 
}